.error-modal {
    background: #fff;
    border-radius: 8px;
    padding: 2rem;
    max-height: 600px;
    width: 500px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, 50%);
    left: 50%;
    right: 50%;

    @media (max-width: 540px) {
        width: 95%;
        transform: translate(-50%, 25%);
    }

    img {
        width: 100%;
        max-height: 200px;
    }
}

.error-modal~.react-responsive-modal-closeButton {
    background: rgba($color: #fff, $alpha: 0.5) !important;
    border-radius: 5px !important;

    &:hover {
        background: #fff !important;
    }

    @media (max-width: 769px) {
        background: #fff !important;
    }
}